body {
  font-family: sans-serif;
  background: #fff;
  padding: 20px;
}

form {
  margin: 30px auto;
  max-width: 400px;
  border: 1px solid #888;
  padding: 20px;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.3em;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  float: right;
  width: 200px;
}

button {
  margin-top: 10px;
  background: #333;
  color: white;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
}

/* Hover */
li:hover {
  background: #FF9;
}

/* Tooltip ayuda */
li::after {
  content: attr(data-ayuda);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
  padding: 5px;
  border: 1px solid #aaa;
  font-size: 0.8em;
  width: 100%;
}

li:hover::after {
  display: block;
}